* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(./space-7283103_1920.jpg);
    background-size: cover;
    background-position: center;
}

button {
    margin: 2rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    color: rgb(225, 176, 229);
    background-color: rgba(240, 248, 255, 0.072);
    backdrop-filter: blur(5px);
    font-size: 33px;
    letter-spacing: 2px;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(240, 248, 255, 0.072);
    backdrop-filter: blur(5px);
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 2rem;
    text-align: center;
}

.modal-content h1 {
    font-size: 38px;
}

.modal-content p {
    text-align: left;
}

.modal.open {
    display: flex;
}








/* button {
    cursor: pointer;
    transition: width .3s, height .9s, color .3s;
} */

/* button:hover {
    width: 250px;
    height: 250px;
    color: aliceblue;
} */

/* .modal-content {
    cursor: pointer;
} */